body {
    background: white url("images/djangoguitar.jpg") no-repeat;
}
h1 {
  color: red;
  font-size: 400%;
}
.imgid{
  width: 100px;
}
p {
  color: green;
  size: 50px;
}
.para {
  color: orange;
}
